.sudoku-board {
  display: inline-block;
  border: 2px solid #333;
  padding: 8px;
  background: #fff8e7;
}

.sudoku-row {
  display: flex;
}

.sudoku-cell {
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 2px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #aaa;
}

.sudoku-cell.prefilled {
  background-color: #eee;
  font-weight: bold;
}
